*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(2.jpg);
    background-size: 100%;
}
.main{
    margin: auto;
    margin-top: 50px;
    width: 400px;
}
.register{
    background-color: rgb(red, green, blue);
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.5);
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
}
#register{
    color:slateblue;
}
.form{
    border: 1px solid rgb(0, 204, 255);
    border-radius: 5px;
}
label{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 5px;
}
#name{
    width: 350px;
    margin-left: 9px;
    border: 2px solid green;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
    box-shadow: inset 1px 1px 6px rgba(169,110,200, .5);
}
#b{
    width: 200px;
    padding: 8px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: #586;
    box-shadow: inset rgba(red, green, blue, alpha);
    background-color: #586;
    cursor: pointer;
    margin-bottom: 9px;
    margin-left: 75px;
}
#b:hover{
    background-color: red;
    transition: 0.5s;
}